config:
  service: |
    [SERVICE]
        Daemon Off
        Flush 1
        Log_Level info
        Parsers_File /fluent-bit/etc/parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port 2020
        Health_Check On

  inputs: |
    [INPUT]
        Name tail
        Path /var/log/containers/*.log
        multiline.parser docker, cri
        Tag kube.*
        Mem_Buf_Limit 5MB

    [INPUT]
        Name systemd
        Tag host.*
        Systemd_Filter _SYSTEMD_UNIT=kubelet.service

  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On

  outputs: |
    [OUTPUT]
        Name opensearch
        Match opensearch
        Host vpc-prism-q-an2-osr-5lpujbhxra64taa7srhc6fi3jm.ap-northeast-2.es.amazonaws.com
        Port 443
        Index kube-system-%Y%m%d
        Type _doc
        tls On
        tls.verify Off
        Suppress_Type_Name On
        AWS_Auth Off
        AWS_Region ap-northeast-2
        Http_User admin
        Http_Passwd !Admin$00
        Retry_Limit 2
